{{ partial "header.html" . }}

<body class="category">

{{ partial "sub-header.html" . }}

<main id="content">
		<p class="up-a-level">
		<a href="/work">To Work page</a>
	</p>

<h3 class="page-title">{{ .Title }} Projects</h3>
<p class="page-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit nisl magna, ut hendrerit risus tincidunt in.</p>

		<section id="work-cards" aria-label="Work items in {{ .Title }} category">
		{{ $paginator := .Paginate (where .Data.Pages "Section" "work") }}
			{{ range $paginator.Pages }}
				{{ partial "work-card.html" . }}
	    	{{- end -}}

		</section>

	<aside id="tags" class="container-element work-categories" aria-label="All work item categories">
	
		<dl class="horizontal-tags">
			<dt>Browse Work:</dt>

			{{ range $name, $taxonomy := .Site.Taxonomies.categories }}
				<dd><a href="{{ "/categories/" | relLangURL }}{{ $name | urlize }}">{{ $name | title }}</a></dd>
			{{ end }}

		</dl>

	</aside>

{{ partial "pagination.html" . }}

</main>

{{ partial "footer.html" . }}