{{ partial "header.html" . }}

<body class="blog tag">

{{ partial "sub-header.html" . }}

<main id="content">

<p class="up-a-level"><a href="/blog">To Blog</a></p>

<h3 class="page-title">Tag: {{ .Title }}</h3>
<p class="page-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit nisl magna, ut hendrerit risus tincidunt in.</p>

<section aria-label="Blog posts in {{ .Title }} tag">
		{{ $paginator := .Paginate (where .Data.Pages "Section" "blog") }}
			{{ range $paginator.Pages }}
<article aria-label="Blog post">
<a href="{{ .Permalink }}"><h3 class="seventy-five">{{ .Title }}</h3></a>
<p class="blog-date"><time datetime="2017-04-07 20:00">{{ .Date.Format "Mon, Jan 2, 2006" }}</time></p>
<p>
{{ .Summary }}
<a class="read-more" href="{{ .Permalink }}">Read</a>
</p>
</article>

    {{- end -}}

</section>

<aside id="tags" aria-label="All blog post categories">
	<dl class="horizontal-tags">
		<dt>Tags:</dt>

		{{ range $name, $taxonomy := .Site.Taxonomies.tags }}
			<dd><a href="{{ "/tags/" | relLangURL }}{{ $name | urlize }}">{{ $name | title }}</a></dd>
		{{ end }}
	
	</dl>
</aside>

{{ partial "pagination.html" . }}

</main>

{{ partial "footer.html" . }}