{{ partial "header.html" . }}

<body class="blog" onload="checkTheDivStyle()">

{{ partial "sub-header.html" . }}

<main id="content">

<section aria-label="Blog post list">

<h3 class="one-fifty">Blog</h3>
<p class="page-description">{{ with .Params.tagline }}{{ . }}{{ end }}</p>

	{{ $paginator := .Paginate (where .Data.Pages "Type" "blog") }}
			{{ range $paginator.Pages }}

<a class="blog-link" href="{{ .Permalink }}">
<article aria-label="Blog post">
	<h3 class="seventy-five">{{ .Title }}</h3>
	<p class="blog-date"><time datetime="2017-04-07 20:00">{{ .Date.Format "Mon, Jan 2, 2006" }}</time></p>
	<p>
	{{ .Summary }}
	</p>
	</article>
</a>

    {{- end -}}

</section>

<aside id="tags" aria-label="All blog post tags">
	{{ partial "tags.html" . }}
</aside>

{{ partial "pagination.html" . }}

</main>

{{ partial "footer.html" . }}