{{ partial "header.html" . }}

<body onload="setFont();" class="post work-item">

{{ partial "sub-header.html" . }}

<main>

<article>
	<p class="up-a-level">
		<a href="/work">Up to Work page</a>
	</p>

	<h3 class="blog-title">{{ .Title }}</h3>

	{{ range .Params.categories }}
			<p class="work-category">{{ . }} Project</p>
	{{ end }}

		{{ .Content }}

<!-- <p class="post-media"><img src="videoplaceholder.jpg" /></p> -->

</article>

<aside id="tags" class="container-element">
	<dl class="horizontal-tags">
		<dt>Browse Work:</dt>

		{{ range $name, $taxonomy := .Site.Taxonomies.categories }}
			<dd><a href="{{ "/categories/" | relLangURL }}{{ $name | urlize }}">{{ $name | title }}</a></dd>
		{{ end }}
	
	</dl>
</aside>

<nav class="related-work-items">

	{{ $page_link := .Permalink }}
	{{ $categories := .Params.categories }}

	<h4>More {{ delimit $categories ", "}} Projects</h4>

	{{ range $page := .Site.Pages }}
		{{ $has_common_categories := intersect $categories .Params.categories | len | lt 0 }}
			{{ if and $has_common_categories (ne $page_link $page.Permalink) (lt ($.Scratch.Get "$c") 2)}}
			{{ $.Scratch.Add "$c" 1 }}
			{{ partial "work-card-small.html" . }}
		{{ end }}
	{{ end }}

</nav>

</main>

{{ partial "footer.html" . }}