<div class="work-item-card" aria-label="Work item">
	<a class="no-border" href="{{ .Permalink }}">
		<img src="{{ with .Params.featured_image }}{{ . }}{{ end }}" alt="{{ .Title }} Thumbnail" />
		<span class="work-item-title-container">
		<h4 class="work-item-title">
		{{ .Title }}
		</h4>
		</span>
		</a>
		{{ range .Params.categories }}
		<p class="work-category"><a class=" no-border" href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></p>
		{{ end }}
		<p class="work-item-summary">{{ .Summary }}</p>
</div>