{{ partial "header.html" . }}

<body class="page" onload="checkTheDivStyle()">

{{ partial "sub-header.html" . }}

<main aria-label="Site map page" id="content">

<section>
<h3 class="page-title">{{ .Title }}</h3>

<p>
{{ .Content }}
</p>

<nav class="sitemap" aria-label="Site map links">
<ul class="sitemap-first-level">
<li><h4 class="twenty-five">Pages</h4></li>
<li><a href="/">Home</a></li>
<li><a href="/about/">About</a></li>
<li><a href="/blog/">Blog</a></li>
<li><a href="/work">Work</a></li>
<li class="sitemap-title"><h4 class="twenty-five">Blog posts listed by tag:</h4></li>
{{ range $name, $taxonomy := .Site.Taxonomies.tags }}
	<li><a href="{{ "/tags/" | relLangURL }}{{ $name }}">{{ $name | title }}</a></li>
	<ul>
		{{ range $taxonomy.Pages }} 
			<li><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
		{{ end }}
	</ul>
{{ end }}
<li class="sitemap-title"><h4 class="twenty-five">Work listed by category:</h4></li>
{{ range $name, $taxonomy := .Site.Taxonomies.categories }}
	<li><a href="{{ "/tags/" | relLangURL }}{{ $name | urlize }}">{{ $name | title }}</a></li>
	<ul>
		{{ range $taxonomy.Pages }} 
			<li><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
		{{ end }}
	</ul>
{{ end }}

</ul>
</nav>

</section>

</main>

{{ partial "footer.html" . }}