/*

# Contents
------------------
# Global
	## Header
	## Navigation
	## Footer
# Home
# Blog
	## Post
# Work
	## Work Item
	## Work Item Card
# About
# Taxonomies
	## Tags
	## Categories


# Screen sizes
------------------
* 4K, 2560px
* Large laptop, 1440px
* Laptop, 1024px
* Tablet, 768px
* Large mobile, 425px
* Medium mobile, 375px
* Small mobile, 320px

*/

/* # Global */

	body {
		background-color: #f4f4f4;
		font-family: "Nunito";
		margin: 0;
		color: #3f3f3f;
		font-size: 18px;
	}

	h1, h2, h3, h4, h5, h6 { font-family: "Nunito"; line-height: 1.2em; margin: 0; }

	h1 { font-size: 2.5em; }
	h2 { font-size: 2.25em; }
	h3, .one-hundred-percent-bigger { font-size: 2em; }
	h4, .seventy-five-percent-bigger { font-size: 1.75em; }
	h5, .fifty-percent-bigger { font-size: 1.5em; }
	h6, .twenty-five-percent-bigger { font-size: 1.25em; }

	p { line-height: 1.55em; font-size: 1em}

	a {
		color: #d6320b;
		text-decoration: none;
		border-bottom: 1.5px solid #d6320b;
	}

	a:hover {
		color: #8e200e;
		border-bottom: 1.5px solid #8e200e;
	}

	main {
		width: 1000px;
		margin: 0 auto;
		display: block;
	}

	.no-border, .no-border:hover {
		border-bottom: none;
	}

	.no-margin {
		margin: 0;
	}

	.read-more {
		float: right;
		font-weight: bold;
		line-height: 1.2em;
	}

	.page-description {
		margin-top: .25em;
		margin-bottom: 2em;
	}

	.vertical-tags dt {
		display: block;
	}

	.vertical-tags dd {
		display: inline-block;
		margin: 0;
	}

	.up-a-level {
		width: 1000px;
		margin: 0 auto;
		font-size: 1.5em
	}

	@media screen and (max-width: 1024px) {
		body {
			font-size: .9rem;
		}

		.home main, .work main, .blog main, .category main, .tag main, .page main {
				width: 90%;
			}

		.up-a-level {
			width: 90%;
		}
	}

	@media screen and (max-width: 768px) {
		body {
			font-size: .8rem;
		}

		.column {
		    -webkit-column-count: 1;
		    -moz-column-count: 1;
		    column-count: 1;
		}
	}

	@media screen and (max-width: 425px) {
		body {
			font-size: .7rem;
		}
	}

/* ## Header */

	header {
		text-align: center;
		background-color: #f0592b;
		margin-bottom: 	3.25em;
		background-image: url("/img/theme/pattern.svg");
		background-repeat: no-repeat;
		background: cover;
		background-position: center;
	}

	header a, header a:hover {
		border-bottom: 	none;
	}

	.logo {
		width: 26em;
	}

	.text-size {
		padding-top: 2em;
		width: 1000px;
		margin: 0 auto;
		text-align: right;
	}

	.tagline {
		color: #fff;
		margin-top: .5em;
		margin-bottom: 3em;
		font-weight: 100;
	}

	.text-size-button {
		background-color: #fff;
		border: 3px solid #d6320b;
		color: #d6320b;
		width: 60px;
		height: 60px;
		vertical-align: bottom;
		font-weight: bold;
	}

	.text-size-button:active {
		background-color: #d6320b;
		color: #fff;
	}

	.button-bigger {
		font-size: 40px;
	}

	.button-smaller {
		font-size: 22px;
	}

	@media screen and (max-width: 1024px) {

		.text-size-button {
			width: 50px;
			height: 50px;
		}

		.button-bigger {
			font-size: 30px;
		}

		.button-smaller {
			font-size: 14px;
		}

		.text-size {
				width: 90%;
			}

	}

	@media screen and (max-width: 425px) {

		.text-size-button {
			width: 35px;
			height: 35px;
			border: 2px solid #d6320b;
		}

		.button-bigger {
			font-size: 22px;
		}

		.button-smaller {
			font-size: 10px;
		}

		.text-size {
			padding-bottom: 1.5em;
		}
		
	}


/* ## Navigation */

	header nav {
		padding-bottom: .5em;
	}

	header nav a {
		color: #fff;
		padding: 0 .75em;
		border-bottom: none;
		font-weight: bold;
		font-size: 1.25em;
	}

	header nav a:hover {
		border-bottom: none;
		color: #771a07;
	}

	header nav a.selected {
		padding-bottom: .5em;
		padding-top: .35em;
		background-color: #f4f4f4;
		color: #e0431e;
	}


/* ## Footer */

	footer {
		background-color: #fff;
		width: 100%;
		display: inline-block;
		margin-top: 5em;
	}

	footer li {
		display: inline;
		list-style-type: none;
		margin-right: .5em;
	}

	footer li:not(:first-child):before {
		color: #848484;
		content: "|";
		margin-right: .55em;
	}

	footer ul {
		margin: 1em;
	}

	footer a {
		border-bottom: none;
	}


/* # Home */

	.title-text-introduction {
		margin: 0;
	}

	.title-text {
		text-align: center;
		margin-bottom: .35em;
		margin-top: 1.25em;
	}

	.latest-blog-post {
		margin: 2em 0;
	}

	.latest-blog-post-title {
		display: inline-block;
		margin: 1em;
	}

	.latest-blog-post .read-more {
		margin: 1em;
	}


/* # Blog */

	.blog aside {
		width: 20%;
		float: right;
		margin-left: 4%;
	}

	.blog section {
		width: 76%;
		display: inline-block;
	}

	.blog .read-more {
		margin-top: 1em;
	}

	.blog .blog-nav {
		width: 78%;
	}

	.blog article p {
		margin: 0;
	}

	.blog article {
		margin-bottom: 3em;
	}


@media screen and (max-width: 1024px) {

	.blog aside {
		width: 100%;
		margin: 2.5em 0 2.5em 0;
	}

	.blog section {
		width: 100%;
		display: inline-block;
	}

	.blog .vertical-tags {
		margin: 0 auto;
		padding: 1em;
		font-size: 1.25em;	
	}

	.blog .vertical-tags dd, .blog .vertical-tags dt {
		display: inline-block;
		margin: 0 .5em 0 0;
	}

	.blog .blog-nav {
		width: 100%;
	}

}


/* ## Post */

	.post main {
		width: 1280px;
	}


	.post-text {
		width: 1000px;
		margin: 0 auto;
		padding-bottom: 1.25em;
	}

	.post .blog-nav {
		width: 1000px;
		margin: 0 auto;
	}

	.blog-nav {
		font-size: 1em;
	}

	.post-media {
		margin: 2em 0;
	}

	.post-media img {
		width: 1280px;
	}

	.post-media p {
		padding-top: .25em;
		font-style: italic;
		text-align: center;
	}

	.blog-title {
		margin-bottom: 0;
		margin-top: .75em;
		margin-left: 140px;
	}

	.blog-date {
		width: 1000px;
		margin: 0 auto;
		padding-bottom: .5em;
	}

	.blog-next {
		float: right;
	}

	.blog-previous {
		float: left;
	}

	.horizontal-tags {
		margin: 0 auto;
		padding: 1em;	
	}

	.vertical-tags {
		margin: 0 auto;
		padding: 1em;
		line-height: 1.75em;
	}

	.post aside {
		width: 1000px;
		margin: 0 auto;
	}

	.container-element {
		background-color: #fff;
		box-shadow: 0 0 150px #dbdbdb;
	}

	.horizontal-tags dd, .horizontal-tags dt {
		display: inline-block;
		margin: 0 .5em 0 0;
	}

	.post article p {
		margin: 0 140px .5em 140px;
	}

	.post article {
		margin-bottom: 2.5em;
	}

	@media screen and (max-width: 1024px) {
		.post main {
			width: 100%;
		}

		.post-text {
			width: 90%;
		}

		.blog-date {
			width: 90%;
		}

		.post aside {
			width: 90%;
		}

		.post-media img {
			width: 100%;
		}

		.blog-title {
			padding-left: 5%;
			margin-left: 0;
		}

		.post .blog-nav {
			width: 90%;
		}

		.post article p {
			margin: .5em 5%;
		}
	}


/* # Work */


/* ## Work Item */


/* ## Work Item Card */

	.work-item-card {
		display: inline-table;
		background-color: #fff;
		width:49%;
		margin-bottom: 2em;
		box-shadow: 0 0 20px #dbdbdb;
	}
	
	.work-item-card:nth-child(even) {
		margin-left: 1.5%;
	}

	.work-item-card img {
		width: 100%;
	}

	.work-category {
		margin: .1em 0;
	}

	.work-item-title {
		font-weight: bold;
		font-family: "Nunito";
		margin-top: 0;
		font-size: 1.75em;
	}

	.work-item-container {
		padding: 1em 2em 1em 2em;
	}

	.work-item-description {
		margin: .5em 0;
	}

	.work-item-read {
		float: right;
		font-weight: bold;
		margin-bottom: 1.5em;
	}

	.work-categories {
		margin: 2em 0;
	}

@media screen and (max-width: 1024px) {
	.work-item-card {
		width: 100%;
	}

	.work-item-card:nth-child(even) {
		margin-left: 0;
	}
}


/* # About */

	.about .page-description {
		padding-left: 140px;
	}

/* # Taxonomies */

/* ## Tags */

/* ##  Categories */


/* Page */

.page-title {
	margin-left: 0;
	margin-top: .75em;
}