/*

# Contents
------------------
# Global
	## Header
	## Navigation
	## Footer
# Home
# Blog
	## Post
# Work
	## Work Item
	## Work Item Card
# About
# Taxonomies
	## Tags
	## Categories
# Sitemap


# Screen sizes
------------------
* 4K, 2560px
* Large laptop, 1440px
* Laptop, 1024px
* Tablet, 768px
* Large mobile, 425px
* Medium mobile, 375px
* Small mobile, 320px

*/

/* # Global */

	@font-face {
	    font-family: "Zona Pro Bold";
	    src: url(/img/theme/ZonaPro-Bold.otf);
	}

	@font-face {
		font-family: "Zona Pro Black";
	    src: url(/img/theme/ZonaPro-Black.otf);
	}

	body {
		background-color: #f4f4f4;
		font-family: "Nunito", sans-serif;
		margin: 0;
		color: #3f3f3f;
		font-size: 18px;
		background-image: url("/img/theme/bgnd.jpg");
	}

	h1, h2, h3, h4, h5, h6 { line-height: 1.2em; margin: 0; font-size: 1rem; }

	hr {
		border-width: 0;
	}
/*
	h1, .one-hundred-fifty-percent { font-size: 2.5em; }
	h2, .one-hundred-twenty-five-percent { font-size: 2.25em; }
	h3, .one-hundred-percent-bigger { font-size: 2em; }
	h4, .seventy-five-percent-bigger { font-size: 1.75em; }
	h5, .fifty-percent-bigger { font-size: 1.5em; }
	h6, .twenty-five-percent-bigger { font-size: 1.25em; }

*/

	.one-fifty { font-size: 2.5em; }
	.one-twenty-five { font-size: 2.25em; }
	.one-hundred { font-size: 2em; }
	.seventy-five { font-size: 1.75em; }
	.fifty{ font-size: 1.5em; }
	.twenty-five { font-size: 1.25em; }

	p { line-height: 1.55em; font-size: 1em}

	a {
		color: #d6320b;
		text-decoration: none;
		border-bottom: 1.5px solid #d6320b;
	}

	a:hover {
		color: #8e200e;
		border-bottom: 1.5px solid #8e200e;
	}

	main {
		width: 1000px;
		margin: 0 auto;
		display: block;
	}

	.no-border, .no-border:hover {
		border-bottom: none;
	}

	.no-margin {
		margin: 0;
	}

	.read-more {
		float: right;
		font-weight: bold;
		line-height: 1.2em;
		font-size: 1.5em;
	}

	.page-description {
		margin-top: .25em;
		margin-bottom: 2em;
	}

	.vertical-tags dt {
		display: block;
	}

	.vertical-tags dd {
		display: inline-block;
		margin: 0;
	}

	.up-a-level {
		width: 1000px;
		margin: 0 auto;
		font-size: 1.5em
	}

	.logo {
		padding-top: 1em;
		font-family: "Zona Pro Bold", sans-serif;
		color: #fff;
		font-size: 5em;
		letter-spacing: -.04em;
	}

	.logo .underscore {
		font-family: "Zona Pro Black", sans-serif;
	}

	.pagination {
		list-style: none;
		text-align: center;
		font-size: 1.5em
	}

	.pagination li {
		display: inline;
		margin: .25em;
	}

	.fa-custom {
		font-size: .75em !important;
	}

	.horizontal-tags dd {
		padding: .75em;
		background-color: #d6320b;
		border-radius: 3px;
		box-shadow: 0 0 .5em #dbdbdb;
	}

	.horizontal-tags dt {
		font-weight: bold;
		font-size: 1.25em;
	}

	.horizontal-tags a {
		color: #fff;
		border-bottom: none;
	}

	.horizontal-tags dd, .horizontal-tags dt {
		display: inline-block;
		margin: 0 .5em .75em 0;
	}

	@media screen and (max-width: 1024px) {
		body {
			font-size: .9rem;
		}

		p {font-size: 1.25em;}

		.home main, .work main, .blog main, .category main, .tag main, .page main {
				width: 90%;
			}

		.up-a-level {
			width: initial;
		}
	}

	@media screen and (max-width: 425px) {
		body {
			font-size: .7rem;
		}

		.logo {
			font-size: 4em;
		}
	}

/* ## Header */

	header {
		text-align: center;
		background-color: #f0592b;
		margin-bottom: 	3.25em;
		background-image: url("/img/theme/pattern.svg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}

	header a, header a:hover {
		border-bottom: 	none;
	}

	.sitemap-link {
		color: #fff;
		float: left;
		font-weight: bold;
		font-size: 1.25em;
	}


	.tagline {
		color: #fff;
		margin-top: .5em;
		margin-bottom: 3em;
		font-weight: 100;
		font-size: 1.5em;
	}

.skip {
        position: absolute;
        top: -1000px;
        left: -1000px;
        height: 1px;
        width: 1px;
        text-align: left;
        overflow: hidden;
        color: #fff;
        font-size: 1.25em;
    }
    
    a.skip:active, 
    a.skip:focus, 
    a.skip:hover {
        left: 0; 
        top: 0;
        width: auto; 
        height: auto; 
        overflow: visible; 
}

/* ## Navigation */

	header nav {
		padding-bottom: .5em;
	}

	header nav a {
		color: #fff;
		padding: 0 .75em;
		border-bottom: none;
		font-weight: bold;
		font-size: 1.5em;
	}

	header nav a:hover {
		border-bottom: none;
		color: #771a07;
	}

	header nav a.selected {
		padding-bottom: .5em;
		padding-top: .35em;
		background-color: #f4f4f4;
		color: #e0431e;
		background-image: url("/img/theme/bgnd.jpg");
	}

@media screen and (max-width: 425px) {
	header nav a {
	    font-size: 1.3em;
	}
}

/* ## Footer */

	footer {
		background-color: #fff;
		width: 100%;
		display: inline-block;
		margin-top: 5em;
	}

	footer li {
		display: inline;
		list-style-type: none;
		margin-right: .5em;
	}

	footer li:not(:first-child):before {
		color: #848484;
		content: "|";
		margin-right: .55em;
	}

	footer ul {
		margin: 1em;
	}

	footer a {
		border-bottom: none;
	}

	@media screen and (min-width: 1024px) {
		#to-top { 
			display: none;
		}
	}

	#to-top {
	    opacity: 0;
	    position: fixed;
	    bottom: 25px;
	    right: 25px;
	    z-index: 99;
	    cursor: pointer;
	    transition: opacity 500ms linear;
	    -webkit-transition: opacity 500ms linear;
        -moz-transition: opacity 100ms linear;
        -o-transition: opacity 100ms linear;
	}

	#top-top:hover {
	    background-color: #555; /* Add a dark-grey background on hover */
	}


/* # Home */

	.title-text-introduction {
		margin: 0;
	}

	.title-text {
		text-align: center;
		margin-top: 1.75em;
		font-size: 2em;
	}

	.title-description {
		text-align: center;
		margin-top: 0;
		margin-bottom: 1em;
		line-height: initial;
		font-size: 1.25em;
	}

	.latest-blog-post {
		margin: 3em 0;
	}

	.latest-blog-post-title {
		display: inline-block;
		margin: 1em;
		font-size: 1.25em;
	}

	.latest-blog-post .read-more {
		margin: 1em;
	}


/* # Blog */

	.blog aside {
		width: 20%;
		float: right;
		margin-left: 4%;
	}

	.blog section {
		width: 76%;
		display: inline-block;
	}

	.blog-link p {
		color: initial;
	}

	.blog .read-more {
		margin-top: 1em;
	}

	.blog .blog-nav {
		width: 78%;
	}

	.blog article p {
		margin: 0;
	}

	.blog article {
		margin-bottom: 3em;
	}

	.blog-nav .disabled {
		display: none;
	}

@media screen and (max-width: 1024px) {

	.blog aside {
		width: 100%;
		margin-bottom: .75em;
	}

	.blog section {
		width: 100%;
		display: inline-block;
	}

	.blog .vertical-tags {
		margin: 0 auto;
		padding: 1em;
		font-size: 1.25em;	
	}

	.blog .vertical-tags dd, .blog .vertical-tags dt {
		display: inline-block;
		margin: 0 .5em 0 0;
	}

	.blog .blog-nav {
		width: 100%;
	}

}


/* ## Post */

	.post main {
		width: 1280px;
	}


	.post-text {
		width: 1000px;
		margin: 0 auto;
		padding-bottom: 1.25em;
	}

	.post .blog-nav {
		width: 1000px;
		margin: 0 auto;
	}

	.blog-nav {
		font-size: 1.25em;
	}

	.post-media {
		margin: 2em 0;
	}

	.post-media img {
		width: 1280px;
	}

	.post-media p {
		padding-top: .25em;
		font-style: italic;
		text-align: center;
	}

	.blog-title {
		margin-bottom: 0;
		margin-top: .75em;
		margin-left: 140px;
		font-size: 2.5em;
	}

	.blog-date {
		width: 1000px;
		padding-bottom: .5em;
	}

	.blog-next {
		float: right;
	}

	.blog-previous {
		float: left;
	}

	.vertical-tags {
		margin: 0 auto;
		padding: 1em;
		line-height: 1.75em;
	}

	.post aside {
		width: 1000px;
		margin: 0 auto;
	}

	.container-element {
		background-color: #fff;
		box-shadow: 0 0 .5em #efefef;
	}

	.post article p {
		margin: 0 140px .5em 140px;
	}

	.post article {
		margin-bottom: 2.5em;
	}

	@media screen and (max-width: 1024px) {
		.post main {
			width: 100%;
		}

		.post-text {
			width: 90%;
		}

		.blog-date {
			width: 90%;
		}

		.post aside {
			width: 90%;
		}

		.post-media img {
			width: 100%;
		}

		.blog-title {
			padding-left: 5%;
			margin-left: 0;
		}

		.post .blog-nav {
			width: 90%;
		}

		.post article p {
			margin: .5em 5%;
		}
	}


/* # Work */


/* ## Work Item */


/* ## Work Item Card */

	.work-item-card {
		display: inline-table;
		background-color: #fff;
		width:49%;
		margin-bottom: 2em;
		box-shadow: 0 0 .5em #efefef;
	}

	.work-item-summary {
			margin: .5em 2em 1.5em 2em;
		}
	
	.work-item-card:nth-child(even) {
		margin-left: 1.5%;
	}

	.work-item-card img {
		width: 100%;
	}

	.work-item-title {
		margin-top: .75em;
		font-weight: bold;
		font-size: 1.5em;
	}

	.work-item-title-container {
		margin: 0em 2em;
		display: block;
	}

	.work-category {
		margin: 0;
	}

	.work-item-card .work-category {
		margin: 0em 2em;
	}

	.work-item .work-category {
		padding-bottom: .5em;
	}

	.work-item-description {
		margin: .5em 0;
	}

	.work-item-read {
		float: right;
		font-weight: bold;
		margin-bottom: 1.5em;
		font-size: 1.25em
	}

	.work-categories {
		margin: 2em 0;
	}

	.related-work-items {
	    width: 1000px;
    	margin: 0 auto;
    	padding-top: 1em;
	}

	.related-work-items .work-item-card:nth-child(3n) { 
    	margin-left: 1.5%;
	}

	.related-work-items .work-item-card:nth-child(2n) { 
    	margin-left: 0;
	}

	.related-work-items-title {
		font-size: 1.25em;
		margin: .5em .5em .75em 1em
	}

	.related-work-items .title-text {
		margin-bottom: .5em;
		margin-top: 0em;
	}

@media screen and (max-width: 1024px) {
	.work-item-card {
		width: 100%;
	}

	.work-item-card:nth-child(even) {
		margin-left: 0;
	}

	.related-work-items .work-item-card:nth-child(3n) { 
    	margin-left: 0;
	}

	.related-work-items {
		width: 90%;
	}

	.related-work-items-title {
		font-size: 1.5em;
	}

	.work-item-title-container {
		margin: 0em 2.5em;
	}
}


/* # About */

	.about .page-description {
		padding-left: 140px;
	}

/* # Taxonomies */

/* ## Tags */

/* ##  Categories */


/* Page */

.page-title {
	margin-left: 0;
	margin-top: .75em;
	font-size: 2.5em;
}

/* Sitemap */

.sitemap {
	font-size: 1.25em
}

.sitemap ul {
	list-style: none;
	line-height: 1.75em;
}

.sitemap-margin {
	margin-bottom: .25em;
}

.sitemap-first-level {
	padding: 0;
}

.sitemap-title {
	margin-top: 1em;
}