{{ partial "header.html" . }}

<body onload="setFont();" class="page">

{{ partial "sub-header.html" . }}

<main>

<section>
<h1 class="page-title">{{ .Title }}</h1>

<p>
{{ .Content }}
</p>

<nav class="sitemap">
<ul>
<li><a href="/">Home</a></li>
<li><a href="/about/">About</a></li>
<li><a href="/blog/" class="sitemap-margin">Blog</a></li>
<ul>
<li class="sitemap-margin">Blog posts listed by tag:</li>
{{ range $name, $taxonomy := .Site.Taxonomies.tags }}
	<li><a href="{{ "/tags/" | relLangURL }}{{ $name | urlize }}">{{ $name }}</a></li>
	<ul class="sitemap-margin">
		{{ range $taxonomy.Pages }} 
			<li><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
		{{ end }}
	</ul>
{{ end }}
</ul>
<li><a href="/work">Work</a></li>
<ul>
<li class="sitemap-margin">Work listed by category:</li>
{{ range $name, $taxonomy := .Site.Taxonomies.categories }}
	<li><a href="{{ "/tags/" | relLangURL }}{{ $name | urlize }}">{{ $name }}</a></li>
	<ul class="sitemap-margin">
		{{ range $taxonomy.Pages }} 
			<li><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
		{{ end }}
	</ul>
{{ end }}
</ul>
</nav>

</article>

</main>

{{ partial "footer.html" . }}