{{ partial "header.html" . }}

<body class="category">

{{ partial "sub-header.html" . }}

<main id="content">
		<p class="up-a-level">
		<a href="/work">To Work page</a>
	</p>

<h3 class="page-title">{{ .Title }} Projects</h3>
<p class="page-description"></p>

	<aside id="tags" class="work-categories-container" aria-label="All work item categories">
	
		<dl class="work-categories">
			<dt>Browse project types:</dt>

			{{ $currenttax := .Title }}

			{{ range $name, $taxonomy := .Site.Taxonomies.categories }}
				<dd {{ if eq $currenttax ($name | title) }}class="selected-category"{{ end }} ><a href="{{ "/categories/" | relLangURL }}{{ $name | urlize }}">{{ $name | title }}</a></dd>
			{{ end }}

		</dl>

	</aside>

		<section id="work-cards" aria-label="Work items in {{ .Title }} category">
		{{ $paginator := .Paginate (where .Data.Pages "Section" "work") }}
			{{ range $paginator.Pages }}
				{{ partial "work-card.html" . }}
	    	{{- end -}}

		</section>

{{ partial "pagination.html" . }}

</main>

{{ partial "footer.html" . }}