<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href="/css/style.css" rel="stylesheet" type="text/css">

<noscript>
<link href="https://fonts.googleapis.com/css?family=Nunito:400,700" rel="stylesheet">
<style>
@font-face {
    font-family: "ZonaPro";
    src: url(/fonts/ZonaPro-Bold.woff) format('woff');
    font-style: normal;
 	font-weight: 700; 
}

@font-face {
	font-family: "Zona Pro";
    src: url(/fonts/ZonaPro-Black.woff) format('woff');
    font-style: normal;
 	font-weight: 900; 
}
</style>
</noscript>

{{ if .RSSLink }}
<link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
<link href="{{ .RSSLink }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />
{{ end }}

{{ template "_internal/google_analytics_async.html" . }}

<title>Brian Liston | {{ .Title }}</title>

</head>