{{ $pag := $.Paginator }}
    {{ if gt $pag.TotalPages 1 }}
    <nav class="blog-nav" aria-label="Navigation for newer and older posts and work">
        {{ with $pag.First }}
        {{ end }}
        <p class="blog-previous
        {{ if not $pag.HasPrev }} disabled {{ end }}>
        ">
        <a href="{{ if $pag.HasPrev }}{{ $pag.Prev.URL }}{{ end }}" aria-label="Previous">Previous</a>
        </p>

        <p class="blog-next
        {{ if not $pag.HasNext }} disabled {{ end }}
        ">
        <a href="{{ if $pag.HasNext }}{{ $pag.Next.URL }}{{ end }}" aria-label="Next">Next</a>
        </p>
        {{ with $pag.Last }}
        {{ end }}
    </ul>
{{ end }}