<header>

<a href="#content" class="skip">Skip to main content</a>

<div id = "theLink" style="color: #fff; background-color: #7e3cb0;; padding: 1em;"><a style="text-decoration: underline; color: #f94b22" href="/blog/poco-a-poco/">Read</a> about my rebrand to Poco a Poco Studio.<a href="#" onclick="setTheDivStyle()" style="padding-left: 5em;"><strong>Close</strong></a></div>

<h1 class="logo"><span class="one-poco">Poco</span> <span class="a-poco">a</span> <span class="two-poco">Poco</span></h1>

<h2 class="tagline">Web development and design</h2>

<nav aria-label="Main website navigation">
	<a href="/" 

	{{- if eq .URL "/" }}
	class="selected"
	{{- end -}}

	>Home</a>

	<a href="/work" 

	class="

	{{- if eq .URL "/work/" }}
	selected
	{{- end -}}

	{{if eq .Section "work"}}
	selected{{end}}

	{{ $lastUrlElement := index (last 2 (split (delimit (split .URL "/") "," "") ",")) 0 }}
	{{ $lastUrlElement }}
	{{ if eq $lastUrlElement "categories" }}
	selected
	{{ end }}"

	>Work</a>

	<a href="/blog" 

	class="

	{{- if eq .URL "/blog/" }}
	selected
	{{- end -}}

	{{if eq .Section "blog"}}
	selected{{end}}

	{{ $lastUrlElement := index (last 2 (split (delimit (split .URL "/") "," "") ",")) 0 }}
	{{ $lastUrlElement }}
	{{ if eq $lastUrlElement "tags" }}
	selected
	{{ end }}"

	>Blog</a>

<!--	<a href="/about" 

	{{- if eq .URL "/about/" }}
	class="selected"
	{{- end -}}

	>About</a> -->

	<a href="mailto:bri@nliston.name" >Email</a>
</nav>

</header>