{{ partial "header.html" . }}

<body class="home">

{{ partial "sub-header.html" . }}

<main id="content">
	<section id="introduction" aria-label="About me">
		<h3 class="title-text-introduction">Design for video, web and digital media.</h3>
		<span class="fifty">I help creative people make beautiful things for the online world.</span>
	</section>

	<section id="latest-blog-post" class="latest-blog-post container-element" aria-label="Most recent post from my blog">
	{{ range first 1 (where .Data.Pages "Section" "blog") }}
		<h3 class="latest-blog-post-title">Latest blog post: <a href="{{ .Permalink }}" class="no-border">{{ .Title }}</a></h3>
    {{- end -}}
	</section>

	<hr />
	
<!-- 	
	<section id="featured-video" aria-label="Video introduction">
		<h3 class="title-text">Who am I?</h3>
		<p class="title-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
		<img src="/img/content/videoplaceholder.jpg" width="100%" alt="placeholder" />
	</section>
-->

	<hr />

	<section id="work-list" aria-label="Most recent work I've made">

		<h3 class="title-text">Work I've made</h3>
		<p class="title-description">My latest projects</p>

		{{ range $key, $taxonomy := .Site.Taxonomies.homepage }}
            {{ range $taxonomy.Pages }}
            {{ partial "work-card.html" . }}
            {{ end }}
        {{ end }}
    	
	</section>

</main>

{{ partial "footer.html" . }}