{{ partial "header.html" . }}

<body class="home">

{{ partial "sub-header.html" . }}

<main id="content">
	<section id="introduction" aria-label="About me">
		<h3 class="title-text-introduction">Design for <a href="/categories/video">video</a>, <a href="/categories/web">web</a> and <a href="/categories/design">digital media</a>.</h3>
		<span class="fifty">I help creative people make beautiful things for the online world.</span>
	</section>

	<section id="latest-blog-post" class="latest-blog-post container-element" aria-label="Most recent post from my blog">
	{{ range first 1 (where .Data.Pages "Section" "blog") }}
		<h3 class="latest-blog-post-title">Latest blog post: <a href="{{ .Permalink }}" class="no-border">{{ .Title }}</a></h3>
    {{- end -}}
	</section>

	<hr />
		
	<section id="featured-video" aria-label="Video introduction">
		<h3 class="title-text">Who am I?</h3>
		<p class="title-description">An introduction to me and my <a href="/work">work</a>.</p>
		<div class="embed-container container-element" style="margin-top: 0 !important">
		<iframe src="https://player.vimeo.com/video/214343325?title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		</div>
		<p class="title-description" style="margin-top: 1em">Read more <a href="/about">about</a> me.</p>
	</section>

	<hr />

	<section id="work-list" aria-label="Most recent work I've made">

		<h3 class="title-text">Work I've made</h3>
		<p class="title-description">My latest projects</p>

		{{ range $key, $taxonomy := .Site.Taxonomies.homepage }}
            {{ range $taxonomy.Pages }}
            {{ partial "work-card.html" . }}
            {{ end }}
        {{ end }}
    	
	</section>

</main>

{{ partial "footer.html" . }}